body {
	margin: 0px;
}

header {
	border: 1px solid red; 
	background: green;
}

nav {
	border: 1px solid green;
}

nav ul {
	padding-left: 0px;
}

nav li {
	background: red;
	display: inline-block;
	padding: 5px;
	margin: 0px 20px;
}

#mainlogo {
	border: 1px solid orange;
	padding: 10px 30px 2px 100px;
}

section {
	border: 1px dashed black;
	width: 40%;
	display: inline-block;
}